In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as mp
import seaborn as sns

In [10]:
df = pd.read_csv('FastFoodRestaurants.csv')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   address     10000 non-null  object
 1   city        10000 non-null  object
 2   country     10000 non-null  object
 3   keys        10000 non-null  object
 4   latitude    10000 non-null  float64
 5   longitude   10000 non-null  float64
 6   name        10000 non-null  object
 7   postalCode  10000 non-null  object
 8   province    10000 non-null  object
 9   websites    9535 non-null   object
dtypes: float64(2), object(8)
memory usage: 781.4+ KB

In [12]:
df.describe()

           latitude     longitude
count  10000.000000  10000.000000
mean      37.552195    -91.056132
std        5.050275     18.556339
min       -6.244273   -159.378915
25%       34.028706    -97.412631
50%       38.298216    -87.660930
75%       41.116765    -81.458351
max       64.840240    123.012361

In [13]:
df.head()

,address,city,country,keys,latitude,longitude,name,postalCode,province,websites
0,324 Main St,Massena,US,us/ny/massena/324mainst/-1161002137,44.92130,-74.89021,McDonald's,13662,NY,"http://mcdonalds.com,http://www.mcdonalds.com/..."
1,530 Clinton Ave,Washington Court House,US,us/oh/washingtoncourthouse/530clintonave/-7914...,39.53255,-83.44526,Wendy's,43160,OH,http://www.wendys.com
2,408 Market Square Dr,Maysville,US,us/ky/maysville/408marketsquaredr/1051460804,38.62736,-83.79141,Frisch's Big Boy,41056,KY,"http://www.frischs.com,https://www.frischs.com..."
3,6098 State Highway 37,Massena,US,us/ny/massena/6098statehighway37/-1161002137,44.95008,-74.84553,McDonald's,13662,NY,"http://mcdonalds.com,http://www.mcdonalds.com/..."
4,139 Columbus Rd,Athens,US,us/oh/athens/139columbusrd/990890980,39.35155,-82.09728,OMG! Rotisserie,45701,OH,"http://www.omgrotisserie.com,http://omgrotisse..."

In [14]:
df = df.dropna()

In [15]:
df.to_json(r'/Users/raghavv/VS Code/ProjectProgram/data.json')